body {
    font-family: verdana;
    font-size: 12px;
}

.img-center {
   display: block;
    margin: 0 auto;
    max-width: 35%;
}

.panel {
    max-width: 75%;
    display: block;
    margin: 0 auto;
}

.breadcrumb {
    margin-top: 50px;
}